<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="camera"></ion-icon>
      <ion-label>Capture</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="people"></ion-icon>
      <ion-label>Check List</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
