<ion-header>
  <ion-toolbar>
    <ion-title>
      Check List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div class="row header">
          <div class="col">Utility Company Name</div>
          <div class="col">Service Code</div>
          <div class="col">Pay Limit</div>
          <div class="col">Account Number to Use</div>
      </div> -->
  <ion-grid fixed class="grid">
    <ion-row class="row1">
      <ion-col size="2">
        <div>
          No.
        </div>
      </ion-col>
      <ion-col size="6">
        <div>
          Student
        </div>
      </ion-col>
      <ion-col size="3">
        <div>
          Status
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="row2" *ngFor="let array of Arrays; index as i" >
      <ion-col size="2">{{i + 1}}</ion-col>
      <ion-col size="6">{{array.user.fullName}}</ion-col>
      <ion-col size="3" style="text-align: center">
        <span *ngIf="array.isChecked==true" >
          <ion-icon name="ios-checkmark" md="md-checkmark"></ion-icon>

        </span>
        <span *ngIf="array.isChecked==false">
          <ion-icon name="ios-close" md="md-close"></ion-icon>
        </span>
      </ion-col>
    </ion-row>
    <ion-row class="row3">
      <ion-button expand="block" (click)="getCheckList()">Update Check List</ion-button>
    </ion-row>
  </ion-grid>
</ion-content>