<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <ion-card class="welcome-card">
    <!-- <ion-img src="/assets/logovnuk.png"></ion-img>
      <ion-card-header>
        <ion-card-title>Welcome to VNUK Automatic Management System (AMS)</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>This is a system that we can use to automatically check for attendance by using Face-Recognise feature</p>
      </ion-card-content> -->
    <ion-row class="ion-justify-content-center">
      <div>
        <h1>{{title}}</h1>
      </div>
      <div>
        <h2>{{roomNumber}}</h2>
      </div>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <div>
        <textarea class="ion-text-center">{{startTime}} - {{endTime}}</textarea>
      </div>
    </ion-row>
  </ion-card>
  <ion-button expand="block" (click)="takePicture()">Check in</ion-button>

</ion-content>